@mixin box($width, $height){
    width: $width;
    height: $height;
}

@mixin flex ($justify, $align, $dir){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $dir;
}

@mixin grid ($column, $row){
    display: grid;
    grid-template-columns: $column;
    grid-template-rows: $row;
}

@mixin padding($top, $right, $bottom, $left){
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

@mixin margin($top, $right, $bottom, $left){
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}

@mixin font($size, $weight, $color){
    font-size: $size;
    font-weight: $weight;
    color: $color;
}
